<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>ServerURL</string>
			<key>Key</key>
			<string>RHSCServerURL</string>
			<key>DefaultValue</key>
			<string>www.bhsquashclub.com</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>UserID</string>
			<key>Key</key>
			<string>RHSCUserID</string>
			<key>DefaultValue</key>
			<string>bhunter</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>IsSecure</key>
			<true/>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string>RHSCPassword</string>
			<key>DefaultValue</key>
			<string>Maxw3ll</string>
		</dict>
	</array>
</dict>
</plist>
